# Import necessary packages

In [1]:
import pandas as pd
import numpy as np

# Load the dataset

In [2]:
df = pd.read_csv("../data/raw/loan_default_dataset_v2.csv")
df.head()

,age,annual_income,credit_score,loan_amount,interest_rate,employment_years,default
0,25,944353.473110,680.729308,3.560538e+05,13.720477,27,0
1,46,771352.881210,667.210491,6.667390e+05,12.203224,14,0
2,24,497817.306301,576.486851,8.770421e+05,16.458166,10,0
3,40,347772.047393,612.167142,7.678790e+05,9.924917,12,0
4,44,436153.171287,675.957808,1.033662e+06,7.705607,19,1

In [3]:
df.shape
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               1000 non-null   int64
 1   annual_income     1000 non-null   float64
 2   credit_score      1000 non-null   float64
 3   loan_amount       1000 non-null   float64
 4   interest_rate     1000 non-null   float64
 5   employment_years  1000 non-null   int64
 6   default           1000 non-null   int64
dtypes: float64(4), int64(3)
memory usage: 54.8 KB

In [4]:
df["default"].value_counts()
df["default"].value_counts(normalize=True)

default
0    0.973
1    0.027
Name: proportion, dtype: float64