# Import necessary packages

In [1]:
import pandas as pd
import numpy as np

# Load the dataset

In [2]:
df = pd.read_csv("../data/raw/loan_default_dataset_v2.csv")

In [3]:
df.describe()

,age,annual_income,credit_score,loan_amount,interest_rate,employment_years,default
count,1000.000000,1.000000e+03,1000.000000,1.000000e+03,1000.000000,1000.000000,1000.000000
mean,42.259000,5.500578e+05,669.344335,9.009520e+05,13.027904,16.785000,0.027000
std,12.844645,1.773610e+05,61.250990,3.463485e+05,3.779863,9.992729,0.162164
min,21.000000,1.500000e+05,439.410909,5.000000e+04,5.000000,0.000000,0.000000
25%,31.000000,4.265379e+05,627.517171,6.676635e+05,10.550230,8.000000,0.000000
50%,42.000000,5.559666e+05,669.011412,9.042126e+05,13.038996,17.000000,0.000000
75%,53.000000,6.708616e+05,710.935088,1.137327e+06,15.555777,25.000000,0.000000
max,64.000000,1.164949e+06,842.183191,2.128894e+06,26.077066,34.000000,1.000000

In [4]:
df.median(numeric_only=True)

age                     42.000000
annual_income       555966.577828
credit_score           669.011412
loan_amount         904212.585126
interest_rate           13.038996
employment_years        17.000000
default                  0.000000
dtype: float64

In [5]:
df.groupby("default").describe()

           age                                                      \
         count       mean        std   min   25%   50%   75%   max
default
0        973.0  42.247688  12.890537  21.0  31.0  42.0  53.0  64.0
1         27.0  42.666667  11.269428  23.0  32.0  44.0  51.5  64.0

        annual_income                 ... interest_rate             \
                count           mean  ...           75%        max
default                               ...
0               973.0  552093.901438  ...     15.559251  26.077066
1                27.0  476682.267683  ...     15.122358  21.236097

        employment_years
                   count       mean        std  min  25%   50%   75%   max
default
0                  973.0  16.868448  10.035593  0.0  8.0  17.0  26.0  34.0
1                   27.0  13.777778   7.870751  1.0  7.5  16.0  19.5  28.0

[2 rows x 48 columns]

In [6]:
df.groupby("default").median(numeric_only=True)

,age,annual_income,credit_score,loan_amount,interest_rate,employment_years
default,,,,,,
0,42.0,558303.396044,669.187658,8.944912e+05,13.038514,17.0
1,44.0,480176.684521,644.686509,1.212231e+06,13.259258,16.0